[submodule "skills/bagakit-long-run"]
	path = skills/bagakit-long-run
	url = git@github.com:bagakit/bagakit-long-run.git
	branch = main
[submodule "skills/bagakit-living-docs"]
	path = skills/bagakit-living-docs
	url = git@github.com:bagakit/bagakit-living-docs.git
	branch = main
[submodule "skills/bagakit-feat-task-harness"]
	path = skills/bagakit-feat-task-harness
	url = git@github.com:bagakit/bagakit-feat-task-harness.git
	branch = main
[submodule "skills/bagakit-skill-maker"]
	path = skills/bagakit-skill-maker
	url = git@github.com:bagakit/bagakit-skill-maker.git
	branch = main
[submodule "skills/bagakit-brainstorm"]
	path = skills/bagakit-brainstorm
	url = git@github.com:bagakit/bagakit-brainstorm.git
	branch = main
[submodule "skills/bagakit-git-commit-spec"]
	path = skills/bagakit-git-commit-spec
	url = ../bagakit-git-commit-spec
	branch = main
[submodule "projects/bagakit-paperwork"]
	path = projects/bagakit-paperwork
	url = git@github.com:bagakit/bagakit-paperwork.git
	branch = main
